body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f6fd;
}

header {
    top:0;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #ffffffad;
    color: #06071A;
    padding: 0px 0;
    box-shadow: 1px 1px 5px 0px gray;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #06071A;
    text-decoration: none;

}

nav ul li a:hover {
    color: #298556;
    text-decoration: underline;

}

.search-container {
    display: flex;
    height: 44px;
    border-radius: 25px;
    border: 1px solid #ccc;
}

#search-input {
    padding: 5px 15px;
    min-width: 250px;
    /*  border-radius: 3px;*/
    border-radius: 25px 0px 0px 25px;
    border: none;
}

#search-button {
    padding: 5px 10px;
    background-color: #1d1d1d3a;
    color: #06071A;
    border: none;
    cursor: pointer;
    border-radius: 0px 25px 25px 0px;
}

.hero-container {
    z-index: 1; 
}

.hero-container h2 {
    font-size: 72px;
}

.hero-container p {
    font-size: 18px;
    font-weight: 700;
}

.hero-container a {
    margin-top: 15px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 25px;
    padding: 14px;
    background: #a5a5a573;
    color: #fff;
    font-weight: 700;
    cursor: pointer;

}

.hero-container button:hover {
    background: #a5a5a53f;
}

#search-button:hover {
    background-color: #1d1d1d1a;
}

.background-hero {
    position: absolute;
    width: 100%;
    background-color: #00000073;
    height: 100%;
}

#hero {
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-size: 100% 100%;
}
.hero1 { 
    background-image: url('../images/Fashion-Store-Overview.jpg');
}

.hero2 { 
    background-image: url('../images/hero2.png');
}
#mini-products {
    padding: 20px 0px;
}
#products {
    padding: 20px 0px;
}
.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    width: calc(25% - 45px);
    display: flex;
    flex-wrap: wrap;
}

.mini-product {
    height: 300px;
    width: calc(20% - 6px);
    text-align: center;
    padding: 3px;
}

.mini-product img {
    max-height: 100%;
}

.mini-product .product-container {
    height: 100%;
    background: #DDE5EC;  
}

.product-container {
    padding: 15px;

}

.product img {
    max-width: 100%;
    height: auto;
}

.product button {
    border: 0px;
    border-top: 1px solid #ccc;
    background: #a5a5a51f;
    color: #06071A;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    height: 48px;
}

.product button:hover {
    background: #a5a5a53f;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: left;
    padding: 0px 25px; 
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block; 
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}
 

.swiper .swiper-button-next {
    color:#1d1d1d98;
}
.swiper .swiper-button-prev {
    color:#1d1d1d98;
}
.container { 
  display: flex;
 
}
.container-photo {
    background-image: url('../images/swiper1.jpg');
    background-position: center;
    background-repeat: initial;
    background-size: cover;
    width: 50%;
 }

 .container-login {
 width: 50%;
 height: calc(100vh - 113px);
 overflow-y: auto;
 padding: 0px 80px 0px 80px;
 }

@media (max-width: 480px) {
    .container-photo {
       display: none;
    }
    .container-login {
       max-width: 600px;
       min-width: 300px;
     } 
}
input ,select{
height: 32px;
border-radius: 10px;
border:1px solid #ccc ;
background: white;
padding-left: 10px;
padding-right: 10px;
 }

select.fullscreen{
cursor: pointer;
    width: 100%;

}
input.fullscreen {
    width :calc(100% - 20px);
}
.item{
    padding: 8px;
}

.fieldset-item {
    border-radius: 15px;
    border-color: #ccc;
    margin: 20px;
}


input[type="checkbox"]{
    display: none; /* Hide the default checkbox  */
}

input[type="radio"]{
cursor: pointer;
}
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #333; /* Border color */
    border-radius: 4px; /* Rounded corners */
    position: relative;
    margin-right: 10px; /* Space between checkbox and label */
    cursor: pointer;
}

.custom-checkbox.checked {
    background-color: #333; /* Background color when checked */

}

.custom-checkbox:after {   
    content: '';
    position: absolute;
    width: 5px; /* Check mark width */
    height: 10px; /* Check mark height */
    border: solid #1574FF; /* Check mark color */
    border-width: 0 2px 2px 0; /* Check mark shape */
    transform: rotate(45deg);
    left: 8px; /* Positioning for check mark */
    top: 3px; /* Positioning for check mark */
    display: none; /* Hide check mark initially */
}

input[type="checkbox"]:checked + .custom-checkbox:after {
    display: block;  
}
 
.label-checkbox {
    display: flex;
    align-items: center;
    margin: 8px;
}
button.login{
    height: 48px;
            border: 1px solid;
            border-radius: 15px;
            width: 100%;
            cursor: pointer;
            background: #001852;
            cursor: pointer;
             font-size: 16px;
             color: #FBFBFD;
              font-weight: 600;
}
.form-container{
    min-width: 450px;
    max-width: 70%;
}
legend {    font-size: 20px;
    font-weight: 600;}